*{margin: 0px;padding: 0px;}

html{
	font-size: 62.5%;
}

body{
	font-size: 1.6rem;
}

body{
    height: 100vh;
    background-image: url(../galeria/backgrounds/back1.jpg);
    background-attachment: fixed;
    background-size: cover;
}
