*{margin: 0px;padding: 0px;}

html{
	font-size: 62.5%;
}

body{
	font-size: 1.6rem;
	color: #fff;
}

body{
    height: 100vh;
    background-image: url(../galeria/backgrounds/back1.jpg);
    background-attachment: fixed;
    background-size: cover;
}


.confirmacao{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.5rem;
	position: relative;
	top: 7%;
}

